/* Layout */
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400italic);

body {
    /* background: url("https://source.unsplash.com/random/1200x800") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.90;
    
    }

.main{

    padding-top: 15px;
   
}

div.card {
background:transparent;

}

#plusbutton{
    
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

#currenttime {
    white-space: nowrap;
    font-size: 3vw;    
    text-align: center;
}

#extheading{
    text-align: left;
    width: 50%;
    -webkit-text-stroke:1px white;
    font-style: italic;
    font-family: cursive;
}

#timedisplay{
    color:blue;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 5px; 
    float:right;       
}


#quoteblock{
    font-family: 'PT Serif', serif;
    text-shadow:2px 2px 3px rgba(150,150,150,0.75);
    font-size:1em;
    padding: 0 10px 0 10px;
    }
    
#author{
    font-family: 'PT Serif', serif;
    text-align:center;
    color:grey;
    font-size:1em;
    text-shadow:2px 2px 3px rgba(150,150,150,0.75);
}

#widgetTitle{

    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    color:white;
    padding-top: 2px;
    
}



#divbox {
    min-height: 100px; 
    cursor: pointer;   
}


