* { box-sizing: border-box; }

body {
     /* background: url("https://source.unsplash.com/random/1200x800") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity: 0.90;
    background-color:#f7f9fb;
    
    }
 
/* Page navigation*/
.nav-container{
  margin-top:10px;
  transition: all 0.1s linear;  
  margin-left: 15px;
  
}

.nav{
  list-style-type:none;    
}
li{
  height:30px; 
  margin: 0 5px 5px 0;
  padding-left: 5px;
  padding-right: 5px;
  background: #292929;   
}
a {
  background: #292929;
  text-decoration:none;
  position: relative;
  display:block;
  height:100%;
  min-width:120px; 
  line-height:30px;
  color:rgb(104, 96, 96);
  text-transform: capitalize;
  transition: all 0.1s linear;
}
.active a{
  color: #ffffff;
  background-color: #292929;
  outline:0; 
  text-decoration:none;
}
li:not(.active):hover a{
  color: rgb(241, 165, 165);
  text-decoration:none;
}
span[class ^= "icon"]{
  font-size: 1.1em;
  transition: all 0.1s linear;
}

/* Search Bar */
#searchbox{
  outline: none;  
}



/* ---- grid ---- */

 /* card styles */
 #card-header-text{
  float: left;
  margin: auto;
 }

 #edit-icon {
  float: right;margin: 
  auto;padding-right: 5px;
 }
 
 #trash-icon{
  float: right;
  margin: auto;
 }
 
 #trash-icon:hover{
   background:url("../Icons/trash-can-1.png") no-repeat;
   cursor: pointer;
 }
 
#edit-icon:hover{
  background:url("../Icons/edit-1.png") no-repeat;
  cursor: pointer;
}

#w-sm,#w-md,#w-bg,#w-bn{
  cursor: pointer;
}

.grid {
  max-width: 100%;
  margin: auto;
  padding-top: 10px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item{
  float:left;
  min-height: 100px;
  margin-bottom: 20px;
  /* margin-right: 10px;  */
}


/* Adjust small widget according to window resize */
.grid-item { 
  width: 250px;
}

@media screen and (max-width: 590px) {
  .grid-item {
    width: 500px;
    }
}

@media screen and (max-width: 590px) {
  .grid-item {
    width: 100%;
    }
  }


/* Adjust medium widget according to window resize */
.grid-item--width2 { width: 510px; }

@media screen and (max-width: 590px) {
  .grid-item--width2 {
    width: 500px;
    }
  }
@media screen and (max-width: 590px) {
  .grid-item--width2 {
    width: 100%;
    }
  }

/* Adjust Large widget according to window resize */
.grid-item--width3 { width: 770px; }
@media screen and (max-width: 850px) {
  .grid-item--width3 {
    width: 510px;
    }
  }
@media screen and (max-width: 590px) {
.grid-item--width3 {
  width: 500px;
  }
}
@media screen and (max-width: 590px) {
  .grid-item--width3 {
    width: 100%;
    }
  }

/* Adjust banner widget according to window resize */
.grid-item--width4 { width: 1030px; }
@media screen and (max-width: 1100px) {
  .grid-item--width4 {
    width: 770px;
    }
  }
@media screen and (max-width: 850px) {
  .grid-item--width4 {
    width: 510px;
    }
  }

 @media screen and (max-width: 590px) {
  .grid-item--width4 {
    width: 500px;
    }
  }
@media screen and (max-width: 590px) {
    .grid-item--width4 {
      width: 100%;
      }
  }


.grid-item {
  background:transparent;
  border: solid;
  border-width: thin;
  border-color: white;
  /* box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0.3em 0.3em 1em rgba(0,0,0,0.3);    */
  box-shadow: 0 1px 3px 0 rgba(255, 253, 253, 0.918), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  
  }
   
/* Add hovering, dragging and placeholder effects to the grid item */

  /* .grid-item:hover {
    border-color: rgb(172, 27, 27);
    cursor: move;
  } */


  .grid-item.is-dragging,.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

#quoteblock{
  font-family: 'PT Serif', serif;
  text-shadow:2px 2px 3px rgba(150,150,150,0.75);
  font-size:1em;
  padding: 0 10px 0 10px;
  }
  
#author{
  font-family: 'PT Serif', serif;
  text-align:center;
  color:grey;
  font-size:1em;
  text-shadow:2px 2px 3px rgba(150,150,150,0.75);
}

